@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centralised">
    <img src="Images/JokerTesting.jpg" />
    <p>This website provides exists purely as a host for a test service with fabricated data to enable application testing.</p>
</div>
